		 .show{
		 	display : block;
		 }
		 .hide{
		 	display : none;
		 }
		 .container{
		  	margin:0 auto;
		  	width:700px;
		  	position:absolute;
		  	top:25%;
		  	left:25%;
		  }
		  
		  .circle{
		  	border-radius:50%;
		  	background: black; /* Old browsers */
			background: -moz-linear-gradient(top, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
		  	height:150px;
		  	width:150px;
		  	position:relative;
		  }
		 
		  #content{
		  	color:#fff;
		    position:absolute;
		    top:37%;
		    left:18%;
		    font-size:30px;
		  }
		  #pausebtn, #startbtn, #resetbtn{
			position:absolute;
			cursor:pointer;
		  }
		  
		  #pausebtn{
		  	width:3px;
		  	height:10px;
		  	top:15%;
		  	left:45%;
		    border-left: 3px solid #fff;
		  	border-right: 3px solid #fff;
		  }
		  
		  #resetbtn{
		  	padding:5px;
		  	background-color:#fff;
		  	bottom:15%;
		  	left:45%;	  	
		  }
		  
		  #startbtn{
		  	width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid #fff;
			top:42%;
			left:45%;
		  }
		  
          .startbtnhelper{
          	top: 15% !important;
          }
